:root {
  --orange: hsla(32, 100%, 50%, 1);
  --yellow: hsla(49, 99%, 50%, 1);
  --lime: hsla(82, 90%, 45%, 1);
  --green: hsla(127, 81%, 41%, 1);
  --red: hsla(342, 93%, 53%, 1);
  --pink: hsla(314, 85%, 45%, 1);
  --blue: hsla(211, 92%, 52%, 1);
  --purple: hsla(283, 92%, 44%, 1);
  --cyan: hsla(195, 98%, 55%, 1);
  --sky: hsla(226.6, 94%, 70%, 1);
  --white: hsla(0, 0%, 95%, 1);
  --black: hsla(0, 0%, 10%, 1);

  /* abstract our colours */
  --boxMain: var(--pink);
  --boxSecond: var(--purple);
  --boxHigh: var(--yellow);
  --border: 1vmin solid var(--black);
  --borderRad: 2px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  padding: 10;
  font-family: sans-serif, system-ui;
  font-size: 100%;
  color: var(--black);
}

h2 {
  font-size: 1.2em;
}

.green {
  color: rgb(30, 230, 30);
}

  h1 {
    font-size: 2em;
    color: purple;
    /* 2x body copy size = 32px */
    line-height: 1;
    padding : 8px;
    margin : 0;
    /* 45px / 36px */
  }

  p {
    font-size : 16px;
    padding : 4px;
    color: rgb(3, 3, 3);
    margin : 0;
    line-height : 16px;
}

textarea {
  margin-bottom: 8px;
}

label {
  font-size : 16px;
  padding : 8px;
  color: blue;
  margin : 0;
  line-height : 8px;
}

.jump1 {
  transform: translateY(-70px);
  animation: jumpup 0.4s 0s ease infinite;
}

.jump2 {
  transform: translateY(-70px);
  animation: jumpdown 0.5s 0s ease infinite;
}
 
.fade {
  animation: fade 0.7s 0s infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes jumpup {
  0% {
    transform: translateY(0px);
  }
  64% {
    transform: translateY(-50px);
  }
  80% {
    transform: translateY(-65px);
  }
  100% {
    transform: translateY(-70px);
  }
}

@keyframes jumpdown {
  0% {
    transform: translateY(-70px);
  }
  20% {
    transform: translateY(-65px);
  }
  60% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.banana{
  position: absolute;
  width: 24px;
  height: 41px;
  top: 41px;
  left:0px;
  
          animation: play 0.8s steps(2) infinite,
              run 7s both infinite linear;
}

@keyframes play{
  100%{background-position: 24px;}
}

@keyframes run{
  from{left: -72px;}
  to{left: 100%;}
}

/* loading ~~~~~~~~~~~~~~~~~~~~~ */
.loading {
  background: var(--white);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading p {
  font-size: 200%;
  text-align: center;
  animation: loading ease-in-out 2s infinite;
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
